
<div class="container text-center">
  @for (i of cards;track $index) {}
  <div class="row">
    @for (i of cards;track $index) {
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src={{i.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.description}}</p>
       <p class="card-text">  Rating {{i.rating}}</p>
     <button class="btn btn-primary btn-sm" (click)="getproductdetails(i)">See More</button>

  </div>
</div>
  </div>
    }<br>
</div>
</div>