<!-- <div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="https://wallpapers.com/images/hd/mercedes-benz-iphone-ln1w5psbqjfvy2xl.jpg" class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text">Superior Luxury & Comfort – Mercedes uses premium materials, advanced interiors, and high-end design that make the driving experience feel truly luxurious.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="https://wallpapers.com/images/featured/mercedes-benz-iphone-rrkwi55ttol5hkj9.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Advanced Technology & Safety – They introduced many world-first technologies (like ABS brakes and airbags) and continue to lead in innovation, especially with AMG and EQ electric series..</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="https://w0.peakpx.com/wallpaper/956/946/HD-wallpaper-mercedes-benz-iphone-logo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">High Performance & Engineering Quality – Mercedes vehicles are built with powerful engines, precise engineering, and strict quality standards, making them smoother, safer, and longer-lasting than many competitors.</p>
  </div>
</div>
    </div>
  </div>
</div> -->





<div class="container text-center">
  @for (i of cards;track $index) {}
  <div class="row">
    @for (i of cards;track $index) {
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src={{i.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">{{i.discription}}</p>
       <p class="card-text">${{i.price}}</p>
     <button class="btn btn-primary btn-sm" (click)="getproductdetails(i)">See More</button>
  </div>
</div>
  </div>
}
</div>
</div>