<h3>Amazon

</h3>
<p>
Amazon is a global e-commerce and technology company that provides a wide range of products and services to customers around the world. Founded in 1994 by Jeff Bezos, Amazon started as an online bookstore and has grown into one of the largest online marketplaces, offering everything from electronics, clothing, and groceries to digital services like Amazon Prime, Kindle, Alexa, and cloud computing through Amazon Web Services (AWS). The company is known for its customer-centric approach, fast and reliable delivery, competitive pricing, and continuous innovation, making online shopping convenient and accessible for millions of users worldwide.
</p>
<button class="btn btn-primary" type="submit">learn more</button>