
 <div class="row" style=" height: 350px;width: 100%;border-radius: 20px; background-image: url(https://static.vecteezy.com/system/resources/thumbnails/017/230/666/small/avocado-toasts-with-cottage-cheese-arugula-cup-of-coffee-on-dark-table-banner-for-design-photo.jpg); background-size: cover;background-position: center;">
<div class="col-6">
  <h2 style="color:blanchedalmond; font-size:50px; font-family: 'Dancing Script', cursive;text-align: center;padding-top:160px; ">Majestic Meals</h2>
</div>
</div><br><br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-8">
   
    

  <div id="carouselExampleSlidesOnly" class="carousel slide border"
     data-bs-ride="carousel"
     style="border-radius:20%;"
     data-bs-interval="1200">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1200">
      <img src="https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0"
           class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="1200">
      <img src="https://media.istockphoto.com/id/1081422898/photo/pan-fried-duck.jpg?s=612x612&w=0&k=20&c=kzlrX7KJivvufQx9mLd-gMiMHR6lC2cgX009k9XO6VA="
           class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="1200">
      <img src="https://st3.depositphotos.com/5479794/34142/i/450/depositphotos_341428938-stock-photo-fine-dining-at-lunch.jpg"
           class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<br>
    </div>
    <div style=" font-family:'Dancing Script',cursive;"class="col-sm-4 p-2 border"><h3>Majestic Meals</h3> <br><u> Luxury Deserves Better Taste</u><br>
        <p>Majestic Meals is your ultimate destination for discovering delicious, easy-to-make recipes that bring flavor,<br> comfort, and joy to every plate. From quick everyday meals to delightful special dishes, we help you explore a world of taste with clear instructions, simple ingredients, and mouth-watering results.<br> Whether you’re a beginner in the kitchen or a passionate foodie, Majestic Meals makes cooking feel royal, enjoyable, and effortlessly satisfying. <br>Let’s turn every meal into a majestic experience</p></div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://imgcdn.stablediffusionweb.com/2024/9/28/84f71fbe-beb6-4fdd-bc18-fb8f7f06d574.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Wagyu Carpaccio  Ultra-thin slices of premium Wagyu beef, melt-in-your-mouth tender, delicately seasoned and drizzled with a touch of olive oil for a rich, luxurious flavor in every bite.
.</p>
  </div>
</div>
    </div>
    <div class="col-sm">

<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Sushi_platter.jpg/330px-Sushi_platter.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sushi Delicately crafted bites of vinegared rice paired with fresh fish or fillings, offering a perfect balance of flavor, texture, and elegance in every roll..</p>
  </div>
</div>

    </div>
    <div class="col-sm">

<div class="card" style="width: 18rem;">
  <img src="https://sugarandsparrow.s3.us-west-2.amazonaws.com/flour/wp-content/uploads/2023/01/22134444/Oreo-Truffles-Recipe-header-final.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Oreo Balls Creamy Oreo cookie balls with a hint of vanilla, perfect for a sweet treat that combines the classic taste of Oreo cookies with a smooth texture.</p>
  </div>
</div>

    </div>
  </div>
</div>