<footer class="bg-body-tertiary text-center">
 
  <div class="container p-4">
 
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg?_gl=1*oxph2p*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODAyMjAkajQxJGwwJGgw" class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/1310777/pexels-photo-1310777.jpeg?_gl=1*1s8llx*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODAyNTQkajckbDAkaDA." class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/842142/pexels-photo-842142.jpeg?_gl=1*1hnq6mn*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODA0NTkkajM4JGwwJGgw" class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?_gl=1*12zfqi5*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODAyNjkkajU3JGwwJGgw" class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg?_gl=1*1h19mth*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODAzNDMkajQ0JGwwJGgw" class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div data-mdb-ripple-init
            class="bg-image hover-overlay shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img src="https://images.pexels.com/photos/1861785/pexels-photo-1861785.jpeg?_gl=1*1yl325n*_ga*MTE2OTQwMjQxOS4xNzYwNzA4MTQ0*_ga_8JE65Q40S6*czE3NjcyODAyMDEkbzQkZzEkdDE3NjcyODAzODUkajIkbDAkaDA." class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </div>
 

  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">Majestic Meals</a>
  </div>
  
</footer>
